.BOX{
    width: 730px;
    height:     6000px;
   position: absolute;
/*margin-left: 600px;
margin-bottom: 200px;  */
}
h1{
    font-size: 100px;
    font-style:inherit;
}
.left{
    float:left;
    width:230px;
    height:215px;
    
    margin-top: 20px;
    
    
    /*margin-right:100px ; */
}
body{
    background-color: purple;
}
.right{
    float:right;
    width:220px;
    height:235px;
    margin-top: 10px;
    margin-bottom: 10px;

 
}


.cent{
    width:800px;
    height: 800px;
    /*margin: 0 auto;  */


    
}
.game{
   
    height: 30%;
    background-color: beige;
    
    font-size: xx-large;
   
   
  
    
}
.press{
    background-color: purple;

    height:800px;
   
    margin:0 auto;
   
}
.mid{
   
    width:210px;
    height:245px;
   padding:10px; 
   margin:0 auto;
   


}




.red{
    
position: absolute;
display: none;
left:40px;
top:48px;


}
.yellow{
    position:absolute;
    top:46px;
    left:40px;
    display: none;
  
}

