.BOX{
    width: 730px;
    height:     6000px;
   position: absolute;
  
   
  
    
    
}

.left{
    float:left;
    width:245px;
    height:230px;
    
    margin-top: 20px;
    
    
    margin-right:15px ;
}
.right{
    float:right;
    width:220px;
    height:235px;
    margin-top: 10px;
    margin-bottom: 10px;

 
}


.cent{
    width:800px;
    height: 800px;


    
}
.game{
   
    height: 22%;
    background-color: beige;
    text-align: center;
    font-size: xx-large;
    margin:0 auto;
   
  
    
}
.press{
    background-color: purple;

    height:800px;
   
    margin:0 auto;
   
}
.mid{
   
    width:200px;
    height:245px;
    padding: 10px;
   margin:0 auto;
   


}




.red{
    
position: absolute;
display: none;
left:40px;
top:48px;


}
.yellow{
    position:absolute;
    top:46px;
    left:40px;
    display: none;
  
}

